.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 20px;*/
    background: var(--container);
    height: 75px;
}

.input {
    height: 30px;
    width: 200px;
    background-color: var(--card);
}