.onDeckToday {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: var(--container);
}

.onDeckContainer {
    display: flex;
    gap: 50px;
}

.onDeckBalls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: var(--card);
}

.taskSummary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}