:root {
    --bg: #fff;
    --fg: #111;
    --accent: #f15a24;
    --border: 2px solid #111;
    --radius: 4px;
    --card:  #fff8dc;
    --container: #ffe5e5;
    --button: #e5ab89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

html, body {
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--fg);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.appContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    justify-content: space-between;
}

.mainContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}


h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: var(--border);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

