.container {
    display: flex;
    align-items: center;
    height: 95vh;
}

.neubrutalist-box {
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0 #000000;
    padding: 20px;
    transition: transform 0.2s;
}

.neubrutalist-box-fixed {
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 10px 10px 0 #000000;
    padding: 20px;
}

.neubrutalist-box:hover {
    transform: translateY(-10px);
}

.neubrutalist-box h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #000000;
}

.neubrutalist-box p {
    margin: 0;
    font-size: 1em;
    color: #333333;
}

.neubrutalist-box a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
}

.neubrutalist-box a:hover {
    background-color: #444444;
}